.navbar{
     background-color: white;
     font-size:2em ;
     text-align : center;
}

body{
    background-color: grey;
}
.container-general{
    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: center;
    margin: auto;
}
.container{
    background-color: white;
    height: 100%;
    margin-top: 5px;
   

}

.container-small{
    display: flex;
    flex-direction: row;
}

.photo1{
    font-size: 15em;
    display: flex;
    justify-content: center;
   
    
}

.texto-encima-photo1{
    font-size:xx-large;
    text-align: left;
    margin-top: 50px;
    font-family: arial;
    width: 200px;
   
}
.texto-encima-photo1-lateral{
    float:right;
    margin-right: 20px;
    color: grey;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}

.pie-photo1{
 line-height:normal;
 font-size:20px;

 background:white;
 color:black;
 font-style: time new roman;
 text-align: center;

}

*{border: 1px solid red;}